<mat-progress-bar *ngIf="isPending | async" mode="indeterminate"></mat-progress-bar>
<app-notification (confirm)="onErrorConfirm()"></app-notification>
<form #ngForm="ngForm" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
  <h2>Update</h2>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" />
    <mat-error *ngIf="name?.hasError('required')">Name is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input type="text" matInput formControlName="login" />
    <mat-error *ngIf="login?.hasError('required')">Login is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
    <mat-error *ngIf="password?.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button
    mat-stroked-button
    type="submit"
    [disabled]="ngForm.invalid || isSubmitting || updateUserForm.pristine"
  >
    Update
  </button>
</form>
