.boards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.board {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
