<div class="page-container">
  <div [ngClass]="{ boards: true, hide: (isPending | async) }">
    <mat-card class="board" *ngFor="let board of boards$ | async">
      <mat-card-title>{{ board.title }}</mat-card-title>
      <mat-card-content>
        <p>{{ board.description }}</p>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-stroked-button color="warn" (click)="deleteBoard(board.id, board.title)">
          Delete
        </button>
        <button [routerLink]="['/boards', board.id]" mat-stroked-button color="primary">
          Open
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <app-search-tasks></app-search-tasks>
</div>
