<div class="page-container">
  <div class="boards">
    <mat-card class="board" *ngFor="let board of boards$ | async">
      <mat-card-title>{{ board.title }}</mat-card-title>
      <mat-card-content>
        <p>{{ board.description }}</p>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-stroked-button color="warn" (click)="deleteBoard(board.id, board.title)">
          {{ 'BOARDS-PAGE.BUTTONS.DELETE' | translate }}
        </button>
        <button [routerLink]="['/boards', board.id]" mat-stroked-button color="primary">
          {{ 'BOARDS-PAGE.BUTTONS.OPEN' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <app-search-tasks></app-search-tasks>
</div>
