<header>
  <mat-toolbar color="primary" [ngClass]="headerClassList">
    <div class="toolbar-container">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">App Tracker</span>
      <ng-container *ngIf="(isAuth | async) && (username | async) as username">
        <button mat-raised-button (click)="createBoard()">
          {{ 'HEADER.BUTTONS.CREATE' | translate }}
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/user/update">
            <mat-icon>edit</mat-icon>
            <span>{{ 'HEADER.BUTTONS.EDIT' | translate }}</span>
          </button>
          <button mat-menu-item (click)="deleteUser(username)">
            <mat-icon>delete_forever</mat-icon>
            <span>Delete profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'HEADER.BUTTONS.LOGOUT' | translate }}</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="(isAuth | async) === false">
        <button routerLink="/auth/sign-in" mat-raised-button>Log In</button>
        <button routerLink="/auth/sign-up" mat-raised-button>Sign Up</button>
      </ng-container>
      <mat-slide-toggle [(ngModel)]="isLangToggle" (change)="handleChange()">
        {{ getLang() }}
      </mat-slide-toggle>
    </div>
  </mat-toolbar>
</header>
