<div class="welcome-page">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="welcome-page__container" id="welcome-page">
    <div class="content">
      <mat-toolbar class="greeting">
        <h1 class="title">App Tracker</h1>
        <p class="greeting-text">{{ 'WELCOME-PAGE.GREETING-TEXT' | translate }}</p>
      </mat-toolbar>
      <hr class="greeting-line"/>
      <div class="functions">
        <div class="functions-management">
          <img src="../../../../assets/png/tasks.png" alt="check-list" class="icon"/>
          <ul class="list">
            <li>{{ 'WELCOME-PAGE.MANAGEMENT.1' | translate }}</li>
            <li>{{ 'WELCOME-PAGE.MANAGEMENT.2' | translate }}</li>
            <li>{{ 'WELCOME-PAGE.MANAGEMENT.3' | translate }}</li>
          </ul>
        </div>
        <div class="functions-settings">
          <img src="../../../../assets/png/settings.png" alt="settings" class="icon"/>
          <ul class="list">
            <li>{{ 'WELCOME-PAGE.SETTINGS.1' | translate }}</li>
            <li>{{ 'WELCOME-PAGE.SETTINGS.2' | translate }}</li>
          </ul>
        </div>
      </div>
      <button mat-raised-button color="primary" class="about" (click)="scrollTo()">
        {{ 'WELCOME-PAGE.BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="team-page" id="team-page">
  <div class="team-page__container">
    <div class="team-content content">
      <h2 class="team-content__title title">{{ 'WELCOME-PAGE.SUBTITLE' | translate }}</h2>
      <mat-card-content>
        <div class="people">
          <div class="profile">
            <a href="https://github.com/gapeev" class="link">{{
              'WELCOME-PAGE.NAMES.DIMA' | translate
              }}</a>
            <img src="../../../../assets/png/4576175.png" alt="check-list" class="icon"/>
          </div>
          <div class="description">
            <p>team leader, frontend developer</p>
            <p>board-module, core-module, shared module, store, app module</p>
          </div>
        </div>
        <div class="people">
          <div class="profile">
            <a href="https://github.com/Anesthesia92" class="link">{{
              'WELCOME-PAGE.NAMES.NASTYA' | translate
              }}</a>
            <img src="../../../../assets/png/3234886.png" alt="check-list" class="icon"/>
          </div>
          <div class="description">
            <p>frontend developer</p>
            <p>board-module, core-module</p>
          </div>
        </div>
        <div class="people">
          <div class="profile">
            <a href="https://github.com/Valeria310" class="link">{{
              'WELCOME-PAGE.NAMES.LERA' | translate
              }}</a>
            <img src="../../../../assets/png/3750030.png" alt="check-list" class="icon"/>
          </div>
          <div class="description">
            <p>frontend developer</p>
            <p>auth-module, core-module, app-module</p>
          </div>
        </div>
      </mat-card-content>
      <hr class="greeting-line"/>
      <p class="project-description">
        App tracker project, angular 2022Q1, <a href="https://rs.school/" class="link">rs-school</a>
      </p>
    </div>
  </div>
</div>
