<div class="welcome-page">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="welcome-page__container" id="welcome-page">
    <div class="content">
      <mat-toolbar class="greeting">
        <h1 class="title">App Tracker</h1>
        <p class="greeting-text">Планируйте проекты и управляйте задачами!</p>
      </mat-toolbar>
      <hr class="greeting-line">
      <div class="functions">
        <div class="functions-management">
          <img src="../../../../assets/png/tasks.png" alt="check-list" class="icon">
          <ul class="list">
            <li>Организуйте работу своего коллектива в общем пространстве.</li>
            <li>Добавляйте колонки, задачи и виртуиальные доски.</li>
            <li>Ставьте и контролируйте задачи любой сложности.</li>
          </ul>
        </div>
        <div class="functions-settings">
          <img src="../../../../assets/png/settings.png" alt="settings" class="icon">
          <ul class="list">
            <li>Выстраивайте работу над проектом по любой удобной вам методике.</li>
            <li>Управляйте зависящими друг от друга, пересекающимися и непредвиденными задачами,
              а также создавайте реалистичные планы.
            </li>
          </ul>
        </div>
      </div>
      <button mat-raised-button color="primary" class="about" (click)="scrollTo()">О команде</button>
    </div>
  </div>
</div>
<div class="team-page" id="team-page">
  <div class="team-page__container">
    <div class="team-content content">
      <h1 class="team-content__title title">
        About our team
      </h1>
      <mat-card-content>
        <div class="people">
          <div class="profile">
            <a href="https://github.com/gapeev" class="link">Dima</a>
            <img src="../../../../assets/png/4576175.png" alt="check-list" class="icon">
          </div>
          <div class="description">
            <p>team leader, frontend developer</p>
            <p>board-module, core-module, shared module, store, app module</p>
          </div>
        </div>
        <div class="people">
          <div class="profile">
            <a href="https://github.com/Anesthesia92" class="link">Nastya</a>
            <img src="../../../../assets/png/3234886.png" alt="check-list" class="icon">
          </div>
          <div class="description">
            <p>frontend developer</p>
            <p>board-module, core-module</p>
          </div>
        </div>
        <div class="people">
          <div class="profile">
            <a href="https://github.com/Valeria310" class="link">Valeria</a>
            <img src="../../../../assets/png/3750030.png" alt="check-list" class="icon">
          </div>
          <div class="description">
            <p>frontend developer</p>
            <p>auth-module, core-module, app-module</p>
          </div>
        </div>
      </mat-card-content>
      <hr class="greeting-line">
      <p class="project-description">
        App tracker project, angular 2022Q1, <a href="https://rs.school/" class="link">rs-school</a>
      </p>
    </div>
  </div>
</div>
