<div *ngIf="board$ | async as board">
  <h1 class="title" mat-dialog-title>
    <mat-icon class="icon" aria-hidden="false" aria-label="add circle icon">add_circle</mat-icon>
    {{ 'CREATE-COLUMN.TITLE' | translate }}
  </h1>
  <div mat-dialog-content>
    <form #ngForm="ngForm" [formGroup]="createColumnForm">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'CREATE-COLUMN.FIELDS-TITLES.TITLE' | translate }}</mat-label>
        <input type="text" matInput formControlName="title" />
        <mat-error *ngIf="title?.hasError('required')"
          >{{ 'CREATE-COLUMN.ERRORS-TEXT.TITLE' | translate
          }}<strong>{{ 'CREATE-COLUMN.REQUIRED' | translate }}</strong></mat-error
        >
      </mat-form-field>
    </form>
  </div>
  <div class="actions" mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      (click)="onCreateClick(board)"
      [disabled]="ngForm.invalid"
    >
      {{ 'CREATE-COLUMN.BUTTONS.CREATE' | translate }}
    </button>
    <button mat-button (click)="onCancelClick()">
      {{ 'CREATE-COLUMN.BUTTONS.CANCEL' | translate }}
    </button>
  </div>
</div>
