$font: Roboto, 'Helvetica Neue', sans-serif;
$primary: #3f51b5;

.error-page {
  height: 94vh;
  width: inherit;

  &__container {
    font-family: $font;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    .error-description {
      width: 50%;
      color: $primary;
      margin-left: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 40px;
        line-height: 40px;
      }

      p {
        font-size: 20px;
        line-height: 30px;
      }

      button {
        width: 150px;
      }
    }

    .error-mark {
      background-color: $primary;
      width: 50%;
      height: 100%;
      font-family: $font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 80px;
        line-height: 80px;
        color: white;
        letter-spacing: 5px;
      }
    }
  }
}

@media (max-width: 520px) {
  .error-page {
    height: 95vh;
  }
  .error-page__container {
    flex-direction: column;
    max-width: 100%;
  }
  .error-description,
  .error-mark {
    width: 100% !important;
  }
}
