:host {
  margin-top: auto;
}

.footer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  height: 100%;
  &__authors {
    height: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    &__link {
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s;
      width: fit-content;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    width: 7rem;
    height: 84%;
    background-image: url(../../../../assets/svg/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    transition: all 0.3s;
  }
}
@media (max-width: 680px) {
  .footer__authors {
    display: none;
  }
}
