<h1 class="title" mat-dialog-title>
  <mat-icon class="icon" aria-hidden="false" aria-label="add circle icon">add_circle</mat-icon>
  {{ 'CREATE-BOARD.TITLE' | translate }}
</h1>
<div mat-dialog-content class="form-content">
  <form #ngForm="ngForm" [formGroup]="createBoardForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'CREATE-BOARD.FIELDS-TITLES.TITLE' | translate }}</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error *ngIf="title?.hasError('required')"
        >{{ 'CREATE-BOARD.ERRORS-TEXT.TITLE' | translate
        }}<strong>{{ 'CREATE-BOARD.REQUIRED' | translate }}</strong></mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'CREATE-BOARD.FIELDS-TITLES.DESCRIPTION' | translate }}</mat-label>
      <input type="text" matInput formControlName="description" />
      <mat-error *ngIf="description?.hasError('required')">
        {{ 'CREATE-BOARD.ERRORS-TEXT.DESCRIPTION' | translate
        }}<strong>{{ 'CREATE-BOARD.REQUIRED' | translate }}</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div class="actions" mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onCreateClick()" [disabled]="ngForm.invalid">
    {{ 'CREATE-BOARD.BUTTONS.CREATE' | translate }}
  </button>
  <button mat-button (click)="onCancelClick()">
    {{ 'CREATE-BOARD.BUTTONS.CANCEL' | translate }}
  </button>
</div>
