<div *ngIf="board$ | async as board">
  <h1 class="title" mat-dialog-title>
    <mat-icon class="icon" aria-hidden="false" aria-label="add circle icon">add_circle</mat-icon>
    Create Task
  </h1>
  <form #ngForm="ngForm" [formGroup]="createTaskForm">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error *ngIf="title?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" />
      <mat-error *ngIf="description?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <mat-select formControlName="userId">
        <mat-option *ngFor="let userInfo of users$ | async" [value]="userInfo.id">
          {{ userInfo.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="done">Done</mat-checkbox>
  </form>
  <div class="actions" mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      (click)="onCreateClick(board)"
      [disabled]="ngForm.invalid"
    >
      Create
    </button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
  </div>
</div>
