<div *ngIf="board$ | async as board">
  <h1 class="title" mat-dialog-title>
    <mat-icon class="icon" aria-hidden="false" aria-label="add circle icon">task_alt</mat-icon>
    {{ 'UPDATE-TASK.TITLE' | translate }}
  </h1>
  <form #ngForm="ngForm" [formGroup]="updateTaskForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'UPDATE-TASK.FIELDS-TITLES.TITLE' | translate }}</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error *ngIf="title?.hasError('required')">
        {{ 'UPDATE-TASK.ERRORS-TEXT.TITLE' | translate
        }}<strong>{{ 'UPDATE-TASK.REQUIRED' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'UPDATE-TASK.FIELDS-TITLES.DESCRIPTION' | translate }}</mat-label>
      <input type="text" matInput formControlName="description" />
      <mat-error *ngIf="description?.hasError('required')">
        {{ 'UPDATE-TASK.ERRORS-TEXT.DESCRIPTION' | translate
        }}<strong>{{ 'UPDATE-TASK.REQUIRED' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'UPDATE-TASK.FIELDS-TITLES.USER' | translate }}</mat-label>
      <mat-select formControlName="userId">
        <mat-option *ngFor="let userInfo of users$ | async" [value]="userInfo.id">
          {{ userInfo.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="done">{{ 'UPDATE-TASK.DONE' | translate }}</mat-checkbox>
  </form>
  <div class="actions" mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      (click)="onUpdateClick(board)"
      [disabled]="ngForm.invalid"
    >
      {{ 'UPDATE-TASK.BUTTONS.UPDATE' | translate }}
    </button>
    <button mat-button (click)="onCancelClick()">
      {{ 'UPDATE-TASK.BUTTONS.CANCEL' | translate }}
    </button>
  </div>
</div>
